body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
.fadein {
  opacity : 0;
  transition : all 1s;
}
 
.fadein.active{
  opacity : 1;
}
.fadein.active .skill-list li::after{
  transform: scale(1, 1);
}
.modal-background{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  text-align: center;
  display: none;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  background-color: white;
  opacity: 0.8;
  color: black;
  padding: 20px;
  border-radius: 4px;
  width: 80%;
  min-height: 450px;
}
.modal p{
  margin-top: 20px;
  text-align: left;
}
header{
  font-family: 'Dancing Script', cursive;
  top: -100px;
  margin-top: 100px;
}
header nav{
  background-color: black;
  color: white;
  overflow: hidden;
  height: 100px;
  position: fixed;
  top: 0px;
  width: 100%;
  opacity: 0.8;
  z-index: 100;
}
header nav h1{
  float: left;
  line-height: 100px;
  margin: 0 0 0 3%;
}
header nav ul{
  list-style: none;
  text-align: right;
  height: 100px;
  line-height: 100px;
  margin: 0;
}
header nav li{
  display: inline-block;
  vertical-align: middle;
  margin-right: 24px;
}
header nav a{
  color: white;
  text-decoration: none;
}
.hidden{
  display: none;
}
.Toggle {
  position: fixed;
  right: 13px;
  top: 30px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  z-index: 3;
}

.Toggle span {
  display: block;
  position: absolute;
  width: 30px;
  border-bottom: solid 3px white;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  left: 6px;
}

.Toggle span:nth-child(1) {
  top: 9px;
}

.Toggle span:nth-child(2) {
  top: 18px;
}

.Toggle span:nth-child(3) {
  top: 27px;
}

.Toggle.active span:nth-child(1) {
  top: 18px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.Toggle.active span:nth-child(2),
.Toggle.active span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mainimage{
  height: 500px;
  text-align: center;
}
.image-bg{
  background-color: rgba(255, 255, 255);
  opacity: 0.7;
  width: 500px;
  margin: 250px auto 0;
  padding: 100px 0;
}
.mainimage button{
  background-color: rgba(167, 87, 168, 0.5);
  border: 1px solid black;
  margin: auto;
  padding: 30px;
  border-radius: 0;
  width: 300px;
  font-family: 'Dancing Script', cursive;
  font-size: 21px;
  letter-spacing: 2px;
}
.title{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 50px;
}
.title::after{
  content: "";
  width: 100px;
  border-bottom: 1px solid white;
  display: block;
  margin: auto;
  padding-top: 15px;
}
.section{
  margin: 100px auto 200px;
  padding: 20px;
  width: 85%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  max-width: 1000px;
}
#about{
  padding-bottom: 80px;
}
#about .pofile-image{
  width: 40%;
  display: inline-block;
  vertical-align: top;
}
#about .pofile-image img{
  max-width: 100%;
}
.about-profile{
  width: 58%;
  display: inline-block;
  padding-left: 30px;
  position: relative;
}
.about-profile p{
  margin-bottom: 10px;
  font-size: 16px;
}
.about-profile .sns-list{
  position: absolute;
  bottom: -50px;
  right: 30px;
}
#skill{
  padding-bottom: 60px;
}
#skill .list{
  margin-left: 20px;
  margin-bottom: 50px;
}
.skill-list li{
  margin-bottom: 50px;
  position: relative;
}
.skill-list li::after{
  position: absolute;
  left: 127px;
  content: "";
  height: 10px;
  background-color: white;
  transform: scale(0, 1);
  transition : all 1s;
  transform-origin: left center
}
.html::after, .css::after{
  width: 60% !important;
}
.js::after, .jquery::after{
  width: 50%!important;
}
.ruby::after, .rails:after{
  width: 40%!important;
}
.react::after, .php::after, .wordpress::after{
  width: 20%!important;
}
.chart{
  position: relative;
}
.chart ul{
  list-style: none;
}
.line ul{
  padding-left: 100px;
  position: relative;
}

.chart .line ul li{
  display: inline-block;
  position: absolute;
  text-align: center;
}
.line ul .first{
  left: 130px;
}
.line ul .second{
  left: calc(130px + 18%);
}
.line ul .third{
  left: calc(130px + 36%);
}
.line ul .fourth{
  left: calc(130px + 54%);
}
.line ul .fifth{
  left: calc(130px + 72%);
}
.chart .line ul li::after{
  position: absolute;
  bottom: 25px;
  content: "";
  width: 1px;
  height: 725px;
  right: 50%;
  background-color: white;
}
.tab-group{
  display: flex;
  justify-content: center;
  padding-left: 0;
}
.tab{
  flex-grow: 1;
  padding:5px;
  list-style:none;
  border:solid 1px #CCC;
  text-align:center;
  cursor:pointer;
}
.panel-group{
  height: auto;
  border-top:none;
  max-height: 300px;
  overflow: hidden;
}
.panel{
  display:none;
}
.panel img{
  vertical-align: top;
}
.tab.is-active{
  background: lightblue;
  color:#FFF;
  transition: all 0.2s ease-out;
}
.panel.is-show{
  display:block;
}
.work_menu{
  list-style: none;
}
.work_menu li{
  display: inline;
  margin-left: 16px;
}
#works img{
  max-width: 300px;
  height: auto;
}
.work-img-list{
  display: flex;
}
.card ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.card .card-title{
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px
}
.card-item{
  width: 400px;
  margin: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 20px;
  margin: 20px auto;
}
.card-item img{
  width: 100px;
  margin: auto;
  display: block;
  margin-bottom: 15px;
}
.sns-list li{
  display: inline-block;
}
.sns-list{
  list-style-type: none;
}
.sns-list i{
  color: white;
  font-size: 24px;
  margin-left: 20px;
}
.contact{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 80px;
  color: black;
}
.contact-list{
  margin-bottom: 30px;
}
.contact-list input{
  display: block;
  width: 100%;
  margin-left: 0;
}
footer{
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 50px;
  padding-bottom: 50px;
}
footer .sns-list{
  display: block;
  width: 300px;
  margin: auto;
}
footer .sns-list i{
  color: black;
}
.copyright{
  text-align: center;
}
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}


/*追加スタイル*/
form {
  margin: 0 auto;
  width: 100%;
  padding: 30px 30px 0;
  border: 1px solid black;
  border-radius: 10px;
}

input,
button,
select,
textarea {
  font-size: 0.8em;
}

input,textarea {
  border: 1px solid black;
  border-radius: 5px;
}

input {
  margin: 10px;
  padding: 10px;
}
.submit{
  margin-left: auto;
  margin-bottom: 20px;
  display: block;
}
select {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background: white;
}

textarea {
  margin: 10px 0 0;
  padding: 5px;  
  width: 100%;
  height: 8em;
}

.button {
  text-align: center;
}

.button input {
  background: #A66970;
  padding: 15px 30px;
  color: #fff;
  border: none;
  font-size: 16px;
}

.button input:hover {
  opacity: 0.7;
  cursor: pointer;
}
.text-center{
  text-align: center;
}
.list-unstyled{
  list-style: none;
}
.card ul{
  padding: 0;
}
.contact iframe{
  margin: auto;
  display: block;
  margin-bottom: 15px;
  max-width: 100%;
}

@media screen and (max-width:768px){
  nav .header-menu{
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    background:#333;
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2
  }
  .menu li{
    display: block;
    text-align: center;
    height: 85px;
    margin-right: 0;
  }
  .Toggle{
    display: block;
    z-index: 101;
  }
  .mainimage .image-bg{
    width: 100%;
    max-width: 450px;
  }
  .section{
    width: 100%;
  }
  #about .pofile-image{
    width: 100%;
  }
  .about-profile{
    width: 100%;
    margin-top: 20px;
    padding-left: 0;
  }
  #skill .list{
    margin-left: 0;
    font-size: 13px;
  }
  .skill-list{
    padding-left: 0;
    font-size: 10px;
  }
  .skill-list li::after {
    left: 74px;
    top: 2px
  }
  #skill .line{
    font-size: 10px;
  }
  .chart .line ul li::after{
    height: 580px;
  }
  .line ul .first{
    left: 50px;
  }
  .line ul .second{
    left: calc(50px + 18%);
  }
  .line ul .third{
    left: calc(50px + 36%);
  }
  .line ul .fourth{
    left: calc(50px + 54%);
  }
  .line ul .fifth{
    left: calc(50px + 72%);
  }
  .panel{
    margin: auto;
  }
  .panel-group{
    max-height: 500px;
  }
  .panel-group img{
    margin: auto;
    margin: 10px;
  }
  .contact{
    padding: 8px;
  }
  .contact input{
    margin: 0;
    margin-top: 10px;
  }
  .contact .submit{
    margin-bottom: 20px;
  }
  #service .card-item{
    width: 300px;
  }
}